<section class="app">
    <aside class="sidebar">
        <header>
            <i class="fas fa-user-tie mx-3"></i>Beyond Code
        </header>
        <nav class="sidebar-nav">

            <ul>
                <li>
                    <!-- ?? Planificacion -->
                    <a><i class="ion-bag"></i> <span><i class="fas fa-users"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-color-filter-outline"></i>Planning</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('memorandum')"><i class="ion-ios-clock-outline"></i>Memorandum</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('calendar')"><i class="ion-android-star-outline"></i>Calendar</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="ion-ios-settings"></i> <span class=""><i class="fas fa-glasses"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-alarm-outline"></i>Analysis</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('forumA')"><i class="ion-ios-camera-outline"></i>Forum: A</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('log')"><i class="ion-ios-chatboxes-outline"></i>Log</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="ion-ios-briefcase-outline"></i> <span class=""><i class="fas fa-sitemap"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-flame-outline"></i>Design</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('m. use')"><i class="ion-ios-lightbulb-outline"></i>Case of use</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('m. class')"><i class="ion-ios-location-outline"></i>Class D.</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('m. activity')"><i class="ion-ios-locked-outline"></i>D. Activity</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('m. sequence')"><i class="ion-ios-navigate-outline"></i>D. of Sequence</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('m. states')"><i class="ion-ios-navigate-outline"></i>D. of States</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="ion-ios-analytics-outline"></i> <span class=""><i class="fas fa-code"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-timer-outline"></i>Develop</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('stack')"><i class="ion-arrow-graph-down-left"></i>Stack Design</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('repository')"><i class="ion-ios-partlysunny-outline"></i>Repository</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('sprint')"><i class="ion-ios-timer-outline"></i>Sprint Planning</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('backlog')"><i class="ion-ios-game-controller-a-outline"></i>Backlog</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="ion-ios-paper-outline"></i> <span class=""><i class="fas fa-code-branch"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-filing-outline"></i>Integration</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('forumI')"><i class="ion-ios-information-outline"></i>Forum: I</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="ion-ios-navigate-outline"></i> <span class=""><i class="fas fa-vials"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-flame-outline"></i>Testing</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('binnacle')"><i class="ion-ios-lightbulb-outline"></i>Binnacle</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('bugs')"><i class="ion-ios-location-outline"></i>Bugs</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('evidence')"><i class="ion-ios-locked-outline"></i>Evidence</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('priority')"><i class="ion-ios-navigate-outline"></i>Priority</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="ion-ios-medical-outline"></i> <span class=""><i class="fas fa-server"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-flame-outline"></i>Deployment</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('m. deploy')"><i class="ion-ios-lightbulb-outline"></i>Deployment D.</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('versioned')"><i class="ion-ios-location-outline"></i>Versioned</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('documentation')"><i class="ion-ios-locked-outline"></i>Documentation</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="ion-ios-medical-outline"></i> <span class=""><i class="fas fa-sync-alt"></i></span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a><i class="ion-ios-flame-outline"></i>Maintenance</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('perfective')"><i class="ion-ios-lightbulb-outline"></i>Perfective M.</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('adaptative')"><i class="ion-ios-location-outline"></i>Adaptative M.</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('corrective')"><i class="ion-ios-locked-outline"></i>Corrective M.</a>
                        </li>
                        <li>
                            <a (click)="selectAppOpt('record')"><i class="ion-ios-navigate-outline"></i>Record</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</section>